---
import logoBlack from '~/assets/images/logo-black.png';
import logoWhite from '~/assets/images/logo-white.png';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2">
  <img src={logoBlack.src} alt="HippoChat" class="h-8 dark:hidden" />
  <img src={logoWhite.src} alt="HippoChat" class="h-8 hidden dark:block" />
</span>
